spring:
  application:
    name: uums-batch
  datasource:
    url: jdbc:h2:mem:uums_batch;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver
  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false

server:
  port: 8081
